version: '3'

services:

  # Start this first and initialize it manually: https://github.com/NamelessMC/Nameless-Link/wiki/Postgres-notes
  postgres:
    image: postgres:14-bullseye
    volumes: ['/opt/nameless-link:/var/lib/postgresql/data']
    environment:
      POSTGRES_DB: link
      POSTGRES_USER: link
      POSTGRES_PASSWORD: postgres
    restart: always

  # If you run namelessmc on the same machine, in docker:
  #   make sure they're on the same docker network and set BOT_URL to 'http://link'
  # If you run namelessmc on the same machine, on the host:
  #   add ports: ['127.0.0.1:27362:80'] and set BOT_URL to 'http://127.0.0.1:27362'
  # If you need the bot to be accessible externally:
  #   set up a reverse proxy to port 80 of this container and set BOT_URL to 'https://something'

  link:
    image: namelessmc/discord-link:4
    environment:
      BOT_URL:
      DISCORD_TOKEN: # discord bot token
      STORAGE_TYPE: postgres
      POSTGRES_HOSTNAME: postgres
      POSTGRES_DB: link
      POSTGRES_USER: link
      POSTGRES_PASSWORD: postgres
    restart: always
